
<section>
<div>
<h1>
<%= @ind_post.title  %>
</h1>
<p><small>Comments: <%= @ind_post.comments_counter %>, Likes: <%= @ind_post.likes_counter %></small>
</p>
    <p><%= @ind_post.text %></p>
</div>
<div>
<% @ind_post.comments.each do |comment| %>
<%= User.find(comment.author_id).name %>: <%= comment.text %>
<% end %>
</div>
</section>