<section class="main-class">
<div>
<div class="title-comment">
<h1>
<%= @ind_post.title  %>
</h1>
<p><small>Comments: <%= @ind_post.comments_counter %>, Likes: <%= @ind_post.likes_counter %></small>
</p>
</div>
    <p><%= @ind_post.text %></p>

<%= render partial: "likes/button", locals: {user: @current_user, post: @ind_post} %>
<%# 
  <%= render 'likes/button', locals: { @ind_post.id } %>

</div>
<div>
<% @ind_post.comments.each do |comment| %>
<%= comment.author.name %>: <%= comment.text %>
<% end %>
</div>

<%= link_to 'Add Comment', new_user_post_comment_path(@current_user, @ind_post) %>
</section>
